Diagnostics:
    UnusedIncludes: None
    Suppress:
        - unused-parameter
        - unused-variable
        - unused-but-set-variable
        - unused-label
        - unused-function
---
If:
    PathMatch: .*\.h
CompileFlags:
    Add: [-pthread]
